.calenderContainerLayout{
    display: flex;       
    flex-direction: column;
    align-items: center;
}
.calenderYear{
    width: fit-content;
}
.calenderLayout {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: 900px;
    margin: auto;
    gap: 4px;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid #e6e6e6;
    padding: 8px;
    font-size: 12px;
    text-align: left;
    min-height: 100px;
    
  }
.month{
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}
.rowContainer{
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;

}
.pre {
    width: 12px;
    height: 12px;
}
.blue{
    background-color: blue;
}