.calenderContainerLayout{
    display: flex;       
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.calenderYear{
    width: fit-content;
}
.explain{
    display: flex;  
    flex-direction: row;
    width: 900px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left; 
    font-size: 12px;
    justify-content: space-between;
}
.indexContainer{
    display: flex;       
    flex-direction: row;  
    gap:4px  
}
@media all and (min-width:1024px) {
    .calenderLayout {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        width: 900px;
        margin: auto;
        gap: 4px;
    }
}
@media all and (min-width:768px) and (max-width:1023px)
 {
    .explain{
        width: 600px;
    }

    .calenderContainerLayout{
        width: 600px;
    }

    .calenderLayout {
        display: grid;
        grid-template-columns: 300px 300px;
        width: 600px;
        margin: auto;
        gap: 4px;
    }
}
@media all and (max-width:767px) {
    .explain{
        width: 600px;
    }
    .calenderContainerLayout{
        width: 600px;
        align-items: center;
    }
    .calenderLayout {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: auto;
        gap: 4px;
    }
}

@media all and (mim-width:480px) and (max-width:767px) {
    .explain{
        width: 600px;
    }
    .calenderContainerLayout{
        width: 600px;
    }
    .calenderLayout {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: auto;
        gap: 4px;
    }
}

@media all and (max-width:480px) {
    .explain{
        width: 480px;
    }
    .calenderContainerLayout{
        width: 480px;
    }
    .calenderLayout {
        display: flex;
        flex-direction: column;
        width: 480px;
        margin: auto;
        gap: 4px;
    }
}


.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid #e6e6e6;
    padding: 8px;
    font-size: 12px;
    text-align: left;
    min-height: 160px;
    
  }
.month{
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}
.rowContainer{
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;

}
.pre {
    width: 12px;
    height: 12px;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}