.navLayout{
    display: flex;
    flex-direction: row;
    gap :4px;
    margin: auto;
}
.navButton {
    height: 35px;
    font-family: "Malgun Gothic";
    font-weight: 300;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid #e5e5e5;
  }
  
  .navButton:hover, .navButton:focus, .clickedButton {
    cursor: pointer;
    background-color: darkblue;
    color: white;
  }

  @media all and (min-width:1024px) { 
    .navLayout{
      width: 900px;
  }
  .navButton {
      width: 300px;
  }
}

@media all and (min-width:481px) and (max-width:1023px) {
  .navLayout{
    width: 600px;
}
.navButton {
    width: 197px;
  }
}
@media all and (max-width:480px) {
  .navLayout{
    width: 480px;
}
.navButton {
    width: 157px;
  }
}